{
  parser: "babel-eslint",
  "rules": {
  }
}
//https://www.robinwieruch.de/react-eslint-webpack-babel/#eslintRules
//https://medium.com/front-end-developers/react-and-flux-migrating-to-es6-with-babel-and-eslint-6390cf4fd878
//http://www.zsoltnagy.eu/use-eslint-like-a-pro-with-es6-and-react/